
body {
    background-image: url("https://f.vividscreen.info/soft/949a512e4a3eb5524a5ab44fd997956c/Geometry-Instruments-for-Science-Research-1680x1050.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}