body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.CodeMirror, .CodeMirror-scroll {
    min-height: 200px;
}

.CodeMirror {
    height: 300px;
}

.Search_Table_Line {
}

.Search_Table_Name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    line-break: normal;
    font-weight: bold;
}

.Search_Table_Description {
    font-family: 'Times New Roman';
    font-size: medium;
    font-style: italic;
}

.Search_Table_Data {
    font-family: Tahoma;
    font-size: x-small;
}

#search {
    margin-top: 24px;
    width: 26%;
}
