@model CourseProject.Models.ViewModels.ArticleDetailsViewModel

@{
    ViewData["Title"] = "ArticleEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveUpdatedArticle" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <textarea id="textAreaId" asp-for="Data" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="Specialty" class="control-label"></label>
                <input asp-for="Specialty" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Specialty" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <input asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" value="@String.Join("," , Model.Tags)" data-role="tagsinput" type="text" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="buttonSubmitSaveUpdated" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts{
    <script>
        var simplemde = new SimpleMDE({ element: $("#textAreaId")[0] });
    </script>
}
